*{
    margin:0px;
    padding:0px;
}

.ludo{
    width:98vw;
    max-width:700px;
    height:98vw;
    max-height:700px;
    border:2px solid rgb(162, 162, 162);
    margin:auto;
    margin-top:80px;
    padding:50px;
    box-sizing: border-box;
}

.edge{
    width:100%;
    height:38%;
    border:2px solid rgb(162, 162, 162);
    display:flex;
}

.middle{
    height:24%;
    width:100%;
    display:flex;
}

.color_box{
    width:38%;
    height:100%;
    border:40px solid yellow;
    padding:10px;
    box-sizing: border-box;
}

.color_box_green{
    border:40px solid green;
}

.color_box_blue{
    border:40px solid blue;
}

.color_box_red{
    border:40px solid red;
}

.box_group_vertical{
    width:24%;
    height:100%;
    display:flex;
}

.two_goti_group{
    display:flex;
    height:50%;
    width:100%;
}

.goti_outer{
    width:50%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.goti{
    width:40px;
    height:40px;
    border:3px solid yellow;
    border-radius:50%;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items:center;
}

.blue_goti{
    border:3px solid blue;
}

.green_goti{
    border:3px solid green;
}

.red_goti{
    border:3px solid red;
}

.vertical_box_group{
    width:33%;
    height:100%;
    border:1px solid rgb(162, 162, 162);
    border-collapse:collapse;
    border-top:0px;
}

.single_box{
    width:100%;
    height:16%;
    border:1px solid grey;
    border-collapse: true;;
    display:flex;
    justify-content: center;
    align-items: center;
}

.horizontal_edge{
    width:38%;
    height:100%;
}

.horizontal_middle{
    width:24%;
    height:100%;
    border:2px solid grey;
}

.horizontal_box_group{
    display:flex;
    width:100%;
    height:33%;
    border-left:1px solid grey;
    border-right:1px solid grey;
}


.single_box_horizontal{
    width:16%;
    height:100%;
    border:1px solid grey;
    border-collapse: true;;
}

.horizontal_middle{
    background-image: url('./images/horizontal_middle.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.green_box{
    background-color: green;
}

.blue_box{
    background-color: blue;;
}

.yellow_box{
    background-color: yellow;
}

.red_box{
    background-color: red;;
}

.arrow{
    background-size: contain;
    background-repeat: no-repeat;
}

.yellow_arrow{
    background-image: url('./images/yellow_arrow.png');
}

.green_arrow{
    background-image: url('./images/green_arrow.png');
}

.red_arrow{
    background-image: url('./images/red_arrow.png');
}

.blue_arrow{
    background-image: url('./images/blue_arrow.png');
}

@media only screen and (max-width:850px){
    .ludo{
        padding:20px;
    }

    .color_box{
        border-width: 30px;
    }
}

@media only screen and (max-width:500px){
    .color_box{
        border-width:20px;
    }

    .goti{
        width: 20px;
        height:20px;
    }

    .vertical_box_group .single_box{
        height:15.4%
    }
}

.other_items{
    width:300px;
    position:absolute;
    right:100px;
    top:150px;
}

.chance{
    width:300px;
    height:120px;
    text-align: center;
    border:2px solid palegreen;
    padding-top:20px;
    margin:40px 0px;
}

.chance_goti{
    width:40px;
    height:40px;
    border-radius: 50%;
    border: 2px solid grey;
    margin:auto;
    margin-top: 30px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.done{
    width:300px;
    text-align: center;;
}

.icons{
    display:flex;
    justify-content: space-between;
    margin:10px 0px;
    border:2px solid rgb(164, 164, 164);
    padding:5px;
}

.nili_icon{
    background-color: blue;;
    border:0px;
}

.peeli_icon{
    background-color: yellow;
    border:0px;
}

.hari_icon{
    background-color: green;
    border:0px;
}

.laal_icon{
    background-color: red;
    border:0px;
}

.done_track{
    display:flex;
    justify-content: space-between;
    margin-bottom:40px;
}

.done_one_box{
    width:30%;
    border:2px solid rgb(152, 152, 152);
    border-collapse: collapse;
    height:180px;
}


.dice{
    width:100px;
    height:100px;
    display:flex;
    justify-content:center;
    align-items: center;
    border:2px solid rgb(163, 163, 163);
    border-radius: 20px;
    margin:auto;
    margin-top:15px;
}

#dice_value{
    font-size: x-large;
    font-weight:500;
}

#roll_the_dice{
    width:80px;
    height:30px;
    border-radius:20px;
    border:2px solid grey;
    display:block;
    margin:10px auto;
}


@media only screen and (max-width:1600px){
    .other_items{
        position: static;
        margin:auto;
    }
}

/* js css */
.js_yellow_goti{
    width:70%;
    height:70%;
    margin:auto;
    margin-top:5px;
    border-radius:50%;
    background-color: yellow;
    box-shadow: 1px 1px 5px rgb(245, 245, 133);
    display:flex;
    align-items:center;
    color:rgb(87, 87, 87);
    justify-content: center;
}

.js_green_goti{
    width:70%;
    height:70%;
    margin:auto;
    margin-top:5px;
    border-radius:50%;
    background-color: green;
    box-shadow: 1px 1px 5px rgb(147, 245, 147);
    display:flex;
    align-items:center;
    color:white;
    justify-content: center;
    margin-top:5px'
}

.js_blue_goti{
    width:70%;
    height:70%;

    margin:auto;
    margin-top:5px;
    border-radius:50%;
    background-color: blue;
    box-shadow: 1px 1px 5px rgb(138, 181, 255);
    display:flex;
    align-items:center;
    color:white;
    justify-content: center;
    margin-top:5px'
}

.js_red_goti{
    width:70%;
    height:70%;
    margin:auto;
    margin-top:5px;
    border-radius:50%;
    background-color: red;
    display:flex;
    align-items:center;
    color:white;
    justify-content: center;
    margin-top:5px'
}

@media only screen and (max-width:500px){
    .js_blue_goti, .js_green_goti, .js_red_goti, .js_yellow_goti{
        font-size: xx-small;
        margin-bottom:3px;
    }
}

@keyframes blink_the_goti {
    from{
        margin-top:5px;
        width:50%;
        height:50%;
    }
    to {
        margin-top:3px;
        width:80%;
        height:80%;
    }
  }

.blink{
    animation-name: blink_the_goti;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

.goaled_goti{
    width:50%;
    margin:auto;
    height:18%;
    margin-bottom:2px;
}

/* results */
.result_page{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results{
    width:50%;
    min-width:300px;
    background-color: aliceblue;
    box-shadow: 0 4px 10px rgba(0,0,0,.25);
}

@media only screen and (max-width:1000px){
    .results{
        width:80%;
    }
}

@media only screen and (max-width:400px){
    .results{
        width:100%;
    }
}

.result{
    width:90%;
    margin:auto;
    box-shadow: 0 4px 10px rgba(0,0,0,.25);
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding:10px;
}

.result_heading{
    background-color: rgb(218, 244, 244);
    margin-bottom:15px;
}

.prtc{
    width:24%;
    height:40px;
    display:flex;
    justify-content: center;;
    align-items:center;
    text-align: center;
    background-color: rgb(155, 245, 155);
    border-radius: 5px;
}

.loser{
    background-color: rgb(240, 88, 88);
}

.br{
    width:95%;
    height:4px;
    background-color: rgb(155, 245, 155);
    margin:auto;
    margin-bottom:30px;
}

.result_page_heading{
    text-align:center;
    color:black;
    margin-bottom:30px;
}

.results_page_button{
    width:230px;
    height:55px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 500;
    margin-top: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,.25);
    display:block;
    margin:auto;
}

.results_page_button a{
    text-decoration: none;
    color:black;
}